.item {
  /* height: 100px; */
  width: 100px;
  background: red;
  margin: 5px;

  align-self: flex-start;
  align-self: flex-end;
  align-self: center;
  align-self: baseline;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 500px;
  /* width: 600px; */
  display: flex;
  /*Направление главной оси  */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* Перенос элементов на следующую строку */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* Выравнивание элементов вдоль главной оси */
  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  justify-content: space-between;

  /*  */
  /* align-items */
}
.first {
  /* Свойство порядка */
  /* /* order: -1; */
}
.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6;
}
